.buying-power-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buying-power-content h2 {
    font-size: 28px;
    margin: 0;
}

.deposit-button {
    background-color: #333333;
    color: #ffffff;
    padding: 8px 12px;
    /* Adjust button size */
    font-size: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.deposit-button:hover {
    background-color: #444444;
}